@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

header {
  background: rgba(60, 109, 54, 0.88);
  color: #fff; /* Color del texto en el header */
  padding: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
}
.logo {
  display: flex; /* Cambia el contenedor a un diseño flexible */
  align-items:center; /* Centra verticalmente los elementos */
}
.logo img {
  width: 102px;
  height: 100px;
  flex-shrink: 0;
  margin: 0 auto;
}
.logo h1 {
  color: #ffffff;
  font-family: "Roboto-ExtraBold", Helvetica;
  font-size: 35px;
  font-weight: 800;
  line-height: normal;
  margin: 0; /* Elimina el margen en el título para acercarlo al logo */
}
nav ul {
  list-style-type: none;
  padding: 20px 10px;
  width: 100%;
  display: flex;
  margin-left: 200px; /* Espaciado entre el menú y la barra de búsqueda */
}
nav li {
  margin-right: 25px; /* Espaciado entre elementos del menú */
}
nav a {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.user-account {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-left: auto; /* Mueve la cuenta de usuario al extremo derecho */
}
.user-account { /* Fondo de la imagen*/
  background: rgba(255,255,255,0.1);
  padding: 8px;
  border-radius: 50px;
}
/* Estilos generales */
.user-account {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-left: auto;
  position: relative;
  padding: 8px;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.user-account:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.username {
  opacity: 0;
  position: relative;
  transition: opacity 0.3s;
}

/* Icono */
.user-account img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

/* Hover */
.user-account:hover {
  background-size: 110px;
}

.user-account:hover:before {
  width: 100%;
}

.user-account:hover .username {
  opacity: 1;
  transform: translateX(8px);
}

.user-account:hover img {
  transform: translateX(5px);
}

/* Responsive */
@media (max-width: 768px) {
  .user-account img {
    width: 24px;
    height: 24px;
  }
}
nav a:hover {
  color: rgba(255, 204, 0, 0.96); /* Cambia el color al pasar el mouse sobre un enlace */
}
.user-account img:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

/* Aplica estilos responsivos con media queries */

@media (max-width: 768px) {

  header {
    flex-direction: column;
    padding: 10px;
  }

  .logo {
    margin-bottom: 10px;
  }

  nav ul {
    margin-left: 0;
    flex-direction: column;
  }

  nav li {
    margin: 0 0 10px 0;
  }
  .user-account img {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 576px) {

  .logo img {
    width: 80px;
    height: 80px;
  }

  .logo h1 {
    font-size: 28px;
  }

  nav a {
    font-size: 16px;
  }

}
