@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

header {
  background: rgba(60, 109, 54, 0.88);
  color: #fff; /* Color del texto en el header */
  padding: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
}
.logo {
  display: flex; /* Cambia el contenedor a un diseño flexible */
  align-items:center; /* Centra verticalmente los elementos */
}
.logo img {
  width: 102px;
  height: 100px;
  flex-shrink: 0;
  margin: 0 auto;
}
.logo h1 {
  color: #ffffff;
  font-family: "Roboto-ExtraBold", Helvetica;
  font-size: 35px;
  font-weight: 800;
  line-height: normal;
  margin: 0; /* Elimina el margen en el título para acercarlo al logo */
}
nav ul {
  list-style-type: none;
  padding: 20px 10px;
  width: 100%;
  display: flex;
  margin-left: 200px; /* Espaciado entre el menú y la barra de búsqueda */
}
nav li {
  margin-right: 25px; /* Espaciado entre elementos del menú */
}
nav a {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.user-account {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-left: auto;
  padding-right: 20px;

}
#btn-message {
  --text-color: #000;
  --bg-color-sup: #d2d2d2;
  --bg-color: #f4f4f4;
  --bg-hover-color: #ffffff;
  --online-status: #00da00;
  --font-size: 16px;
  --btn-transition: all 0.2s ease-out;
}

.button-message {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2.17382px rgba(0,0,0,.049),0 1.75px 6.01034px rgba(0,0,0,.07),0 3.63px 14.4706px rgba(0,0,0,.091),0 22px 48px rgba(0,0,0,.14);
  background-color: var(--bg-color);
  border-radius: 68px;
  cursor: pointer;
  padding: 6px 10px 6px 6px;
  width: fit-content;
  height: 40px;
  border: 0;
  overflow: hidden;
  position: relative;
  transition: var(--btn-transition);
}

.button-message:hover {
  height: 56px;
  padding: 8px 20px 8px 8px;
  background-color: var(--bg-hover-color);
  transition: var(--btn-transition);
}

.button-message:active {
  transform: scale(0.99);
}

.content-avatar {
  width: 30px;
  height: 30px;
  margin: 0;
  transition: var(--btn-transition);
  position: relative;
}

.button-message:hover .content-avatar {
  width: 40px;
  height: 40px;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--bg-color-sup);
}

.user-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.status-user {
  position: absolute;
  width: 6px;
  height: 6px;
  right: 1px;
  bottom: 1px;
  border-radius: 50%;
  outline: solid 2px var(--bg-color);
  transition: var(--btn-transition);
  animation: active-status 2s ease-in-out infinite;
}

.button-message:hover .status-user {
  width: 10px;
  height: 10px;
  right: 1px;
  bottom: 1px;
  outline: solid 3px var(--bg-hover-color);
}

.notice-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 8px;
  text-align: initial;
  color: var(--text-color);
}

.username {
  letter-spacing: -6px;
  height: 0;
  opacity: 0;
  transform: translateY(-20px);
  transition: var(--btn-transition);
}

.user-id {
  font-size: 12px;
  letter-spacing: -6px;
  height: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: var(--btn-transition);
}

.lable-message {
  display: flex;
  align-items: center;
  opacity: 1;
  transform: scaleY(1);
  transition: var(--btn-transition);
}

.button-message:hover .username {
  height: auto;
  letter-spacing: normal;
  opacity: 1;
  transform: translateY(0);
  transition: var(--btn-transition);
}

.button-message:hover .user-id {
  height: auto;
  letter-spacing: normal;
  opacity: 1;
  transform: translateY(0);
  transition: var(--btn-transition);
}

.button-message:hover .lable-message {
  height: 0;
  transform: scaleY(0);
  transition: var(--btn-transition);
}

.lable-message, .username {
  font-weight: 600;
}
nav a:hover {
  color: rgba(255, 204, 0, 0.96); /* Cambia el color al pasar el mouse sobre un enlace */
}

@media (max-width: 768px) {

  header {
    flex-direction: column;
    padding: 10px;
  }

  .logo {
    margin-bottom: 10px;
  }

  nav ul {
    margin-left: 0;
    flex-direction: column;
  }

  nav li {
    margin: 0 0 10px 0;
  }
  .user-account {
    padding-right: 10px; /* Reduce el espacio a la derecha */
  }

  .user-account img {
    width: 24px;
    height: 24px;
  }

  .username {
    font-size: 14px;
  }

  .user-id {
    font-size: 10px;
  }

}

@media (max-width: 576px) {

  .logo img {
    width: 80px;
    height: 80px;
  }

  .logo h1 {
    font-size: 28px;
  }

  nav a {
    font-size: 16px;
  }
  .user-account {
    padding-right: 5px; /* Reduce el espacio a la derecha aún más */
  }

  .user-account img {
    width: 20px;
    height: 20px;
  }

  .username {
    font-size: 12px;
  }

  .user-id {
    font-size: 8px;
  }
}
