<header>
  <div class="logo">
    <a href="inicio">
      <img src="assets/imagenes/image%201.png" alt="Logo de la empresa" id="LapipaVale">
    </a>
    <h1>FoodShare</h1>
  </div>
  <nav>
    <ul>
      <li><a [routerLink]="'/inicio'" >Inicio</a></li>
      <li><a [routerLink]="'/Sobre-Nosotros'">Sobre Nosotros</a></li>
      <li><a href="#">Ofertas</a></li>
      <li><a href="#">Tiendas</a></li>
      <li><a [routerLink]="'/resenias'">Reseñas</a></li>

    </ul>
  </nav>
  <!-- Barra de búsqueda al lado del menú -->
  <div class="user-account">
    <span class="username">Valerota</span>
    <a [routerLink]="'/mi-cuenta'">
      <img src="assets/imagenes/pngwing.com.png" alt="Icono de usuario">
    </a>
  </div>
</header>
