<div class="ofertas">
  <div class="cards">
    <div id="cardCarousel" class="carousel slide" data-bs-ride="carousel">
      <!-- Indicadores -->
      <ol class="carousel-indicators">
        <li data-bs-target="#cardCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#cardCarousel" data-bs-slide-to="1"></li>
      </ol>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <!-- Tarjetas 1 y 2 -->
          <div class="d-flex">
            <div class="card">
              <img src="./../../assets/imagenes/image%202.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Título 1</h5>
                <p class="card-text">Contenido de la tarjeta 1.</p>
              </div>
            </div>
            <div class="card">
              <img src="./../../assets/imagenes/image%202.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Título 2</h5>
                <p class="card-text">Contenido de la tarjeta 2.</p>
              </div>
            </div>
            <div class="card">
              <img src="./../../assets/imagenes/image%202.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Título 3</h5>
                <p class="card-text">Contenido de la tarjeta 2.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <!-- Tarjetas 3 y 4 -->
          <div class="d-flex">
            <div class="card">
              <img src="./../../assets/imagenes/image3.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Título 4</h5>
                <p class="card-text">Contenido de la tarjeta 3.</p>
              </div>
            </div>
            <div class="card">
              <img src="./../../assets/imagenes/image4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Título 4</h5>
                <p class="card-text">Contenido de la tarjeta 4.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Botones de control -->
      <button class="carousel-control-prev" type="button" data-bs-target="#cardCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#cardCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
  </div>
</div>
