<div class="inicio">

  <img src="assets/imagenes/image%202.jpg" alt="Imagen">

  <div class="inicio_texto">

    <h1>00% Comida, 0% Desperdicio: Comparte y Disfruta</h1>
    <p>¡Comparte y saborea, juntos contra el desperdicio!</p>

  </div>
  <div class="boton">
    <button class="cta">
      <span>Conocenos</span>
      <svg viewBox="0 0 13 10" height="10px" width="15px">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </button>
  </div>

</div>
<app-ofertas></app-ofertas>
<app-place-list></app-place-list>
